<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
    {{{block 'css'}}}
  </head>
  <body>
    {{{body}}}
  <footer>
    <script src="/javascripts/jquery-1.12.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    {{{block 'js'}}}
  </footer>
  </body>
</html>
